/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/***************** fonte ******************/

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*************** Variable ****************/

:root {
  --background: #faf2e8;
}

/********** Generel styling **************/

p,
h1,
h2,
h3,
a,
li,
label {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background);
}

/*********** index.html **************/

.index_section {
  margin: 0 1rem;
  margin-bottom: 6rem;
}

.index_section h1 {
  font-size: clamp(3rem, 5vw, 7.5rem);
  text-align: center;
  margin-bottom: 1.8rem;
  color: #53002c;
}

.index_section p {
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-align: center;
  max-width: 1200px;

  margin: 0 auto;
  color: #4d1432;
}
.index_section .button {
  text-align: center;
  margin-top: 6rem;
}

.index_section .button a {
  background-color: #4d1432;
  color: #faf2e8;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.index_section .button a:hover {
  background-color: #783e5c;
}

.arrow img {
  width: 25px;
}

.arrow {
  margin-top: 2rem;
  margin-left: 2rem;
}

/********** Tacotogo.html ************/

.tacoTogo_section {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.tacoTogo_section p {
  text-align: center;
  color: #4d1432;
  font-size: clamp(1.5rem, 2vw, 2rem);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.tacoTogo_section h1 {
  font-size: clamp(4rem, 5vw, 7.5rem);
  text-align: center;
  color: #610937;
  margin-bottom: 2rem;
}

/************** form *****************/

.form_section h1 {
  font-size: clamp(3rem, 4vw, 6rem);
  text-align: center;
  color: #4d1432;
  margin-bottom: 1rem;
}

.form_section p {
  text-align: center;
  color: #4d1432;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 0 2rem;
}

.form_section img {
  width: 80%;
  height: 300px;
  max-width: 1200px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 4rem;
}

@media (min-width: 800px) {
  .form_section img {
    height: 500px;
    margin-top: 4rem;
  }
}
