---
import PackageCardSection from "../components/PackageCardSection.astro";
import Section_PackagePage from "../components/Section_PackagePage.astro";
import Menu from "../components/Menu.astro";
import Pagelayout from "../layouts/Pagelayout.astro";
import "../styles/style.css";

const url = "https://mmrncfqaulcikmsvcajc.supabase.co/rest/v1/Packages";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tcm5jZnFhdWxjaWttc3ZjYWpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5MDk4NDksImV4cCI6MjA4MDQ4NTg0OX0.lCiHp8286uEb--d6v6H8AW5GG-NjQHHyJ3JfktN1F5s";

const options = {
  headers: {
    apikey: key,
  },
};

const packagesRequest = await fetch(url, options);
const packageData = await packagesRequest.json();

console.log("Data: ", packageData[0].Name);
---

<Pagelayout>
  <Menu variant="menu_variant" logo="/logo1.svg" />
  <div class="tacoTogo_section">
    <h1>Taco Togo</h1>
    <p>When the days get a little Poco Loco, grab one of our takeaway bundles with simple guides and quality ingredients and enjoy fresh, authentic Mexican food at home.</p>
  </div>
  <Section_PackagePage />
  <PackageCardSection data={packageData} />
</Pagelayout>
