---
import Card from "./Card.astro";
---

<section>
  <Card image="/bowls.png" title="Tacos" text="Carnitas | Chicken Chipotle | Veggie | Birria | Steak" price_single="Single: DKK 45" price_multi="3 tacos:  DKK 115" />
</section>
