---
import Card from "./Card.astro";
---

<!-- Kilde: https://youtube.com/shorts/W2yJ_IbkAyI?si=1umdcZbPE25n6Zpc -->
<section>
  <div class="carrousel">
    <Card class="card" image="/bowls.png" title="Tacos" text="Carnitas | Chicken Chipotle | Veggie | Birria | Steak" price_single="Single: DKK 45" price_multi="3 tacos:  DKK 115" />
    <Card class="card" image="/bowls.png" title="Tacos" text="Carnitas | Chicken Chipotle | Veggie | Birria | Steak" price_single="Single: DKK 45" price_multi="3 tacos:  DKK 115" />
    <Card class="card" image="/bowls.png" title="Tacos" text="Carnitas | Chicken Chipotle | Veggie | Birria | Steak" price_single="Single: DKK 45" price_multi="3 tacos:  DKK 115" />
  </div>
</section>

<style>
  .section {
    width: 100%;
  }

  .carrousel {
    padding: 0 2rem;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin-bottom: 12rem;
  }

  .carrousel::-webkit-scrollbar {
    display: none;
  }
  .card {
    scroll-snap-align: start;
  }

  @media (min-width: 1200px) {
    .carrousel {
      gap: 4rem;
      padding: 0 5rem;
    }
  }
</style>
