<footer>
  <div class="content">
    <div class="information">
      <h3>OPENING HOURS</h3>
      <ul>
        <li>Tue - fri: 16:00 - 22:00 (Kitchen 21:00)</li>
        <li>Sat - Sun: 12:00 - 22:00 (kitchen 21:00)</li>
        <li>Monday: Closed</li>
      </ul>

      <h3>ADRESS</h3>
      <ul>
        <li>Enghavevej 18A</li>
        <li>1674 Copenhagen V</li>
      </ul>

      <h3>CONTACT US</h3>
      <ul>
        <li>Phone: +45 93 86 28 90</li>
      </ul>
    </div>

    <div class="menu">
      <ul>
        <li><a href="https://mexicanfood.dk/wp-content/uploads/2025/08/Menu_Poco_Loco_August_2025.pdf">VIEW MENU</a></li>
        <li><a href="https://restaurant-poco-loco.superbexperience.com/">BOOK TABLE</a></li>
        <li><a href="/">TAKEAWAY</a></li>
        <li><a href="/taco_kits.html">TACO TOGO</a></li>
      </ul>

      <hr />
      <div class="flex">
        <a href="https://www.instagram.com/pocoloco_cph/"><img src="/Instagram.svg" class="instagram_app" alt="Instagram app" /></a>
        <a href="https://www.tiktok.com/@pocoloco_cph"><img src="/TikTok.svg" alt="TikTok app" /></a>
        <a href="https://www.facebook.com/profile.php?id=61580420585841&locale=da_DK"><img src="/Facebook.svg" alt="Facebook app" /></a>
      </div>
    </div>
  </div>

  <h1>POCO LOCO</h1>
</footer>

<style>
  footer {
    background-color: #4d1432;
    overflow: hidden;
  }
  .content {
    padding-left: 2rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 15vw;
    line-height: 0.8;
    font-weight: bold;
    text-align: center;
    color: #ffdac1;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #e8d1b4;
  }

  .menu ul {
    margin-top: 2rem;
  }

  .information ul {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  li {
    font-size: 1rem;
    list-style: none;
    margin-bottom: 0.8rem;
    color: #ffdac1;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #e8d1b4;
  }

  a:hover {
    text-decoration: underline;
  }

  hr {
    border: none;
    height: 1px;
    background: #ffdac1;
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  img {
    width: 80%;
  }

  .flex {
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
    gap: 20px;
  }

  /********** Desktop ************/

  @media (min-width: 1000px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin-bottom: 4rem;
      padding-left: 7rem;
      padding-top: 2rem;
    }

    h3 {
      font-size: 2rem;
    }

    li {
      font-size: 1.2rem;
    }

    a {
      font-size: 2rem;
    }

    hr {
      width: 35%;
    }
  }
</style>
