---

---

<section>
  <div class="formular">
    <h2>Your Information</h2>
    <form>
      <label for="name">Full name *</label>
      <input type="text" id="name" />

      <label for="mail">Email adress *</label>
      <input type="text" id="mail" />

      <label for="number">Phone number *</label>
      <input type="text" id="number" />
    </form>
  </div>
</section>

<style>
  section {
    background-color: aquamarine;
    border-radius: 40px;
    margin: 0 2rem;
  }

  .formular {
    padding: 2rem 3rem;
  }

  form {
  }
  label {
    display: block;
    margin-bottom: 0.7rem;
    padding-left: 0.3rem;
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 1.1rem;
    padding-left: 1rem;
  }
</style>
