<section class="grid">
  <div class="text_content">
    <h2>Poco Loco</h2>
    <p>At Poco Loco we bring the warmth of Mexico to Vesterbro. Our dishes are made with fresh ingredients and are true to traditional home cooking that goes several generations back. So come by and bring your amor, amigos or the whole familia, and get a taste of Mexico - just like we love it.</p>
  </div>
  <img src="/pocoloco.png" alt="" />
</section>

<style>
  .grid {
    background-color: #91687e;
    margin-bottom: 6rem;
  }
  .text_content {
    padding: 4rem 1.5rem;
  }

  h2 {
    font-size: clamp(4rem, 4vw, 6.5rem);
    padding: 0 3rem;
    margin-bottom: 1rem;
    color: #1d0813;
  }

  p {
    font-size: clamp(1.7rem, 2.5vw, 2rem);
    line-height: 2;
    padding: 0 3rem;
    padding-bottom: 1.5rem;
    color: #3c1127;
  }

  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  /**************** Desktop **************/
  @media (min-width: 1450px) {
    .grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-areas:
        "image"
        "text";
    }

    .text_content {
      justify-self: center;
    }

    img {
      width: 900px;
      height: 800px;
      object-fit: cover;
      grid-area: image;
    }
  }
</style>
